body {
    background-color: #e6a677;
}

main {
    font-family: 'Pangolin', cursive;
    text-align: center;
}

h1 {
    margin-top: 25px;
}

.container {
    display: flex;
    margin-bottom: 35px;
}

.item-play {
    width: 40%;
}

.item-play p {
    font-size: 24px;
}

.item-middle {
    width: 20%;
}

.item-middle p {
    margin-top: 100px;
    font-size: 38px;
}

.item {
    transition: all .2s ease-in;
}

.item:hover {
    transform: scale(1.1);
}

.button {
    color: white;
    background-color: green;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.title {
    font-size: 24px;
}
